<div class="small-10 columns small-centered">
  <div class="row">
    <center>
      <h3>Hello <%= @user.username %></h3>
      <p><%= link_to "Track new pass", new_pass_path, class: "button" %></p>
    </center>
  </div>
</div>
<div class="small-10 columns small-centered">
  <div class="row">
    <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1">
      <% @passes.each do |pass| %>
        <li><div class="panel">
          <%= link_to pass.name, pass_path(pass.id), method: "GET" %>

        </div></li>
      <% end %>
    </ul>
  </div>
</div>