<div class="small-10 columns small-centered">
  <div class="row">
    <center>
      <h1> Welcome to Pass Tracker! </h1><br><br>
      <p>Got a ski pass?</p>
      <p>A gym membership?</p>
      <p>Keep track and get your money's worth!</p>
    </center>
  </div>
</div>